/** @format */

@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cormorant+Garamond:wght@300&family=Crete+Round:ital@0;1&family=Dancing+Script:wght@500;600;700&family=Inter:wght@100;200;300;400&family=Mukta:wght@200&family=Permanent+Marker&family=Poppins:ital,wght@0,100;1,100&family=Redressed&family=Roboto:wght@100&family=Signika:wght@300;400;500;600;700&family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cormorant+Garamond:wght@300&family=Crete+Round:ital@0;1&family=Dancing+Script:wght@500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200&family=Permanent+Marker&family=Poppins:ital,wght@0,100;1,100&family=Redressed&family=Roboto:wght@100&family=Signika:wght@300;400;500;600;700&family=Space+Grotesk:wght@300&display=swap");

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #3c3a39;
  color: white;
}

.socials a {
  text-decoration: none;
  color: #505f79;
}

.form-ul li {
  list-style: none;
  padding-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
}

.heading {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
}

.nav-ul{
  align-items: flex-start;
  list-style: none;
  color: white;
  display: none;
  flex-direction: column;
  background-color:#3C3A39;
  width: 375px;
  height: 755px;
  z-index: 100;
  position: absolute;
  left: 0;
  padding-right: 35px;
  padding-top: 108px;
  bottom: 0%;
  top: 0%;
}


#envelope {
  display: none;
}

hr {
  width: 327px;
  padding-left: 30px;
  margin-top: 15px;
}

.nav-ul li {
  padding-left: 35px;
  margin-right: 25px;
  margin-bottom: 40px;
  padding-bottom: 15px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  padding-top: 40px;
  font-weight: 700;
  line-height: 44px;
}

#humb {
  display: block;
 
}

.bars {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  z-index: 10000;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  height: 40vh;
  background-color: #1c1a19;
  background-image: url(images/bg.png);
  background-position: bottom;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.main h1 {
  margin-top: 90px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
}

.main h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.main p {
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.main ul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  opacity: 0;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main ul li {
  color: black;
  list-style-type: none;
  padding-right: 17px;
}

.main ul li a {
  color: white;
  list-style-type: none;
}

.work-section {
  display: grid;
  margin-left: 24px;
}

.work-section h1 {
  text-align: center;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 40px;
  margin-right: 20px;
  margin-top: 120px;
  margin-bottom: 80px;
  border-bottom: 1px solid black;
}

.img-container h2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.img-container p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 40px;
}

.img-container ul {
  display: flex;
}

.img-container ul li {
  margin-top: 10px;
  list-style: none;
  color: black;
  padding: 12px 10px;
  margin-right: 15px;
  border: 1px solid black;
}

.img-container ul li a {
  text-decoration: none;
  margin: 5px;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.img-container button {
  border: none;
  background-color: #ff6b00;
  margin: 12px;
  width: 124px;
  height: 48px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 386px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/Placeholder.png);
}

.card-title {
  margin-top: 46px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  padding: 16px;
  padding-top: 24px;
}

.supporting-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 96px;
  padding-left: 16px;
}

.card-ul {
  margin: 16px;
}

.card-li {
  float: left;
  list-style: none;
  padding: 10px 12px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.card-a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
  width: auto;
  height: 48px;
  padding: 7px;
  background-color: #ff6b00;
  border: none;
}

.about-div {
  display: flex;
  background-color: #1c1a19;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  flex-direction: column;
  background-position: 100% 100%;
  height: 652px;
  padding-bottom: 17px;
  border-bottom: 1px solid white;
}

.about-heading {
  margin: 24px;
  margin-top: 120px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
}

.about-descrp {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  font-style: normal;
  margin-right: 16px;
  padding-right: 16px;
  padding-left: 24px;
}

.about-btn {
  width: 161px;
  height: 48px;
  background-color: #ff6b00;
  color: white;
  margin-top: 40px;
  margin-left: 24px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.languages {
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  background-color: #1c1a19;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.languages i {
  display: flex;
  color: #ff6b00;
  padding-right: 25px;
  justify-content: center;
  align-items: center;
}

.lang-heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 40px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: white;
  justify-content: center;
}

.lang-ul {
  align-items: center;
  text-align: center;
}

.lang-li {
  justify-content: center;
  align-items: center;
  list-style: none;
}

.lang-p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: white;
  padding: 15px;
}

.footer {
  padding-top: 100px;
}

.footer-text {
  text-align: center;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: "Inter", sans-serif;
  padding-left: 24px;
  padding-right: 24px;
  height: 216px;
}

.form {
  padding-top: 100px;
  text-align: center;
}

.form-ul li label {
  display: none;
}

.form-ul li input {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
  width: 295px;
  height: 18px;
}

.form-ul li textarea {
  font-size: 15px;
  font-weight: 400;
  border: none;
  width: 295px;
  height: 114px;
  background: #fbf8f7;
  padding: 12px;
}

.form button {
  color: white;
  font-size: 17px;
  font-weight: 700;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  padding: 12px;
  border: none;
  font-family: "Inter", sans-serif;
}

footer {
  border-top: 0.4px solid gray;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  list-style: none;
  width: 150px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .heading {
    margin-left: 154px;
  }

  .nav-ul {
   display: flex;
   flex-direction: row;
   width: 0px;
   height: 0;
   text-align: center;
   align-items: center;
   justify-content: end;
   position: relative;
   padding-top:2px;
   margin: 0;
  }


  .nav-ul li {
    align-items: center;
    padding-right: 32px;
    margin: 0;
    gap: 32px;
  }
  
  .nav-ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-top: 40px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  hr{
    display: none;
  }

  .nav-ul li :hover {
    background-color: #ff6b00;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    transition: all;
    transition: ease-in-out 250ms;
  }

  .nav {
    height: 72px;
  }

  #humb {
    display: none;
  }

  .main {
    background-image: url(./images/Illustration-header@2x.png);
    background-position: right;
    background-size: contain;
    padding-left: 143px;
    height: 800px;
  }

  .work-section h1 {
    border: none;
    text-align: left;
    font-size: 40px;
    font-weight: 400px;
  }

  .main h1 {
    position: relative;
    font-size: 72px;
    width: 450px;
    padding-right: 150px;
    padding-top: 50px;
    animation-name: dropdown;
    animation-duration: 1s;
  }

  .main h1:hover {
    text-decoration: line-through;
  }

  @keyframes dropdown {
    0% {
      top: -200px;
    }

    100% {
      top: 35px;
    }
  }

  .main p {
    width: 450px;
    font-size: 20px;
    position: relative;
    animation-name: sidedown;
    animation-duration: 1s;
    animation-delay: 1s;
  }

  @keyframes sidedown {
    0% {
      left: -201px;
    }

    100% {
      left: 35px;
    }
  }

  .main h4 {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 32px;
  }

  .main ul {
    position: absolute;
    flex-direction: column;
    left: 36px;
    bottom: 40%;
  }

  .main ul li {
    padding-bottom: 18px;
  }

  .img-container {
    display: flex;
  }

  .img-container img {
    width: 684px;
    height: 488px;
  }

  .work-section {
    margin-left: 141px;
  }

  .work-text {
    flex-direction: column;
    width: 478px;
    height: 488px;
    padding-left: 24px;
  }

  .work-text h2 {
    font-size: 40px;
    font-weight: 400px;
  }

  .work-text p {
    font-size: 20px;
    font-weight: 400px;
    color: #091e42;
    line-height: 28px;
    font-family: "Inter", sans-serif;
  }

  .work-text ul {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .work-text ul li:hover {
    background-color: #ff6b00;
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
    animation-duration: 2s;
  }

  .cards {
    justify-content: left;
    align-items: left;
    margin-bottom: 120px;
    margin-left: 141px;
    margin-right: 141px;
    column-gap: 24px;
    row-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 435px 435px;
  }

  .card-body:hover {
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
  }

  .about-heading {
    font-size: 72px;
    font-weight: 400px;
  }

  .about-descrp {
    font-size: 20px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
  }

  .about {
    background-color: #1c1a19;
  }

  .about-div {
    background: none;
    border: none;
    background-image: url(./images/illustration-about\ me@2x.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 773px 353px;
    border-bottom: 1px solid wheat;
  }

  .contents-about {
    width: 566px;
    margin-left: 142px;
  }

  .languages {
    display: flex;
    height: 403px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 153px;
    text-align: center;
    align-items: center;
  }

  .lang-ul {
    align-items: left;
    text-align: left;
  }

  .footer {
    display: grid;
    grid-template-columns: 590px 648px;
    align-items: center;
    justify-content: center;
  }

  .footer-text {
    padding-left: 135px;
    text-align: start;
    padding-right: 115px;
  }

  .form {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .form-ul li input {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 648px;
    height: 18px;
  }

  .form-ul li textarea {
    font-size: 15px;
    font-weight: 400;
    border: none;
    width: 648px;
    height: 114px;
    background: #fbf8f7;
    padding: 12px;
  }
}
